<footer class="footer mt-auto py-3 bg-light">
  <div class="container pt-5 pb-3">
    <div class="row align-items-center">
      <div class="col-sm-12 mx-auto pt-0 pb-5 mb-5 text-center border-bottom">
        {{#if project}}
          <ul class="share-buttons" data-source="simplesharingbuttons.com">
            <li>
              <a
                href="https://getpocket.com/save?url={{projectURLencoded}}&title={{title}}"
                target="_blank"
                rel="noopener"
                title="Add to Pocket"
              ><img
                  width="60px"
                  height="60px"
                  loading="lazy"
                  alt="Add to Pocket"
                  src="/images/social-media/pocket.svg"
                /></a>
            </li>
            <li>
              <a
                href="https://pinboard.in/popup_login/?url={{projectURLencoded}}&title={{title}}&description={{description}}"
                target="_blank"
                rel="noopener"
                title="Save to Pinboard"
              ><img
                  width="60px"
                  height="60px"
                  loading="lazy"
                  alt="Save to Pinboard"
                  src="/images/social-media/pinboard.svg"
                /></a>
            </li>
            <li>
              <a
                href="mailto:?subject={{title}}&body={{description}}%20{{projectURLencoded}}"
                target="_blank"
                rel="noopener"
                title="Email this page"
              ><img
                  width="60px"
                  height="60px"
                  loading="lazy"
                  alt="Send email"
                  src="/images/social-media/email.svg"
                /></a>
            </li>
          </ul>
        {{/if}}
        <p>
          <a href="https://stefanbohacek.online/@stefan">@stefan</a>
          {{#if project}}
            |
            <a href="https://github.com/stefanbohacek/dataviz-projects/tree/main/projects/{{project}}">View source</a>
          {{/if}}
          |
          <a href="https://stefanbohacek.com/dataviz/">More projects</a>
        </p>
      </div>
      <div class="col-sm-6 col-md-4 pt-5 mx-auto text-center">
        <p>
          <a href="https://fightfascism.glitch.me/">
            <img
              width="140"
              height="140"
              class="lazy-load"
              title="Fight Fascism sticker by Angus Johnston"
              alt="Fight fascism"
              data-src="/images/logos/fight-fascism-square.png"
            />
          </a>
          <noscript>
            <a href="https://fightfascism.glitch.me/">
              <img
                width="140"
                height="140"
                class="lazy-load"
                title="Fight Fascism sticker by Angus Johnston"
                alt="Fight fascism"
                src="/images/logos/fight-fascism-square.png"
              />
            </a>
          </noscript>
        </p>
      </div>
      <div class="col-sm-6 col-md-4 pt-5 mx-auto text-center">
        <p>
          <a href="https://blacklivesmatter.com/">
            <img
              width="140"
              height="140"
              class="lazy-load"
              alt="Black Lives Matter"
              title="Black Lives Matter logo"
              data-src="/images/logos/blm.png"
            />
          </a>
          <noscript>
            <a href="https://blacklivesmatter.com/">
              <img
                width="140"
                height="140"
                class="lazy-load"
                alt="Black Lives Matter"
                title="Black Lives Matter logo"
                src="/images/logos/blm.png"
              />
            </a>
          </noscript>
        </p>
      </div>
      <div class="col-sm-6 col-md-4 pt-5 mx-auto text-center">
        <p>
          <a href="https://indieweb.org/">
            <img
              width="140"
              height="140"
              class="lazy-load"
              alt="IndieWeb"
              title="Support #indieweb!"
              data-src="/images/logos/indiewebcamp-black.png"
            />
          </a>
          <noscript>
            <a href="https://indieweb.org/">
              <img
                width="140"
                height="140"
                class="lazy-load"
                alt="IndieWeb"
                title="Support #indieweb!"
                src="/images/logos/indiewebcamp-black.png"
              />
            </a>
          </noscript>
        </p>
      </div>
    </div>
  </div>
</footer>