<div class="container pb-5">
  <h1 class="mt-5 text-secondary">
    <a href="https://stefanbohacek.com/" class="text-secondary">Stefan's</a> data visualization projects
  </h1>
  <div class="row list mt-5">
    {{#each projects}}
      <div
        class="col-sm-12 col-md-6 col-lg-4 list-item"
        id="project- {{@index}}"
      >
        <div class="card pb-2 mb-4">
          <a href="{{this.path}}">
            <img
              width="1200"
              height="600"
              src="{{this.path}}/images/preview-thumbnail.png"
              loading="lazy"
              class="card-img-top img-fluid"
              alt="Screenshot of the project page, click for more details."
            />
          </a>
          <div class="card-body">
            <a class="text-decoration-none" href="{{this.path}}">
              <p class="card-title text-secondary lead fw-bold">{{this.title}}</p>
            </a>
            <p class="card-text">{{this.description}}</p>
            {{!-- <p class="card-text text-muted">{{this.publish_date}}</p> --}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <p class="mt-3">
    <a class="btn btn-dark" href="https://stefanbohacek.com/dataviz/">Browse
      more</a>
  </p>
</div>